			</div>
		</div>
		<footer>
			<div class="ui inverted vertical footer segment">
				<div class="ui center aligned container">
					<div class="ui stackable inverted divided grid">
						<div class="sixteen wide column">
							<h4 class="ui inverted header">© 2018 Proteth.io All Rights Reserved</h4>
							<p>This site is not affiliated with FIFA.</p>
						</div>
					</div>
					<div class="ui inverted section divider"></div>
					<div class="ui horizontal inverted small divided link list">
						<a class="item" href="/">Home</a>
						<a class="item" href="/how-it-works">How it works</a>
						<a class="item" href="/faq">FAQ</a>
						<a class="item" href="https://docs.google.com/forms/d/19tS1u0QlXbOar0CcuPVler8Ea6kn3bMM6n26JPD0z2M" target="_blank">Advertise in our site</a>
					</div>
				</div>
			</div>

			<script>
				const socketURL = '<%= socketURL %>';
				const ropstenProvider = '<%= ropstenProvider %>';
				const etherscanURL = ropstenProvider.trim() !== '' ? 'https://ropsten.etherscan.io/' : 'https://etherscan.io/';
			</script>

			<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
			<script src="/js/prodeth.js"></script>
			<script src="/js/common.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
			<script src="/js/clipboard.min.js"></script>
		</footer>
	</body>
</html>