<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name='viewport' content='width=100, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
		<meta name="keywords" content="Blockchain,Ethereum,Bet,FIFA,World Cup,Russia,2018,Win,Soccer,Football">
		<meta name="theme-color" content="#000000">
		<link rel="icon" href="/images/logos/small-logo.png">
		<title>Prodeth.io - <%= title %></title>
    	<link rel='stylesheet' href='/css/common.css' />
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
      	<meta name="description" content="Welcome to Prodeth, the best place to bet Ethereum on your favourite teams in this FIFA World Cup Russia 2018">

      	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120271349-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-120271349-1');
		</script>

	</head>
	<body>
		<div class="ui sidebar inverted vertical menu">
			<img src="/images/logos/inverted-logo-hq.png" class="sidebar-logo">
			<a class="item" href="/">
				Bets
			</a>
			<a class="item" href="/airdrop">
				Airdrop
			</a>
			<a class="item" href="/how-it-works">
				How it works
			</a>
			<a class="item" href="/faq">
				FAQ
			</a>
		</div>
		<div class="pusher">
			<div class="main-content">
				<div class="ui inverted icon menu">
					<div class="ui container">
						<a href="/" class="only-responsive header item">
							Prodeth.io
						</a>
						<a href="/" class="item">Bets</a>
						<a href="/airdrop" class="item">Airdrop</a>
						<a href="/how-it-works" class="item">How it works</a>
						<a href="/faq" class="item">FAQ</a>
						<div class="item floated right" id="balance" style="white-space: pre;"></div>
						<a class="item floated right responsive-bar only-responsive" onclick="$('.ui.sidebar').sidebar('toggle');">
							<i class="bars icon"></i>
						</a>
					</div>
				</div>
				<div class="ui main container">
					<div class="ui container center aligned page-title">
						<%if (breadcrumb !== "") { %>
						<div style="text-align:left;">
							<div class="ui breadcrumb" style="padding: 15px 0px;">
								<a class="section" href="/">Home</a>
								<i class="right chevron icon divider"></i>
								<div class="active section"><%= breadcrumb %></div>
							</div>
						</div>
						<% } %>
						<img class="header-logo" src="/images/logos/logo-hq.png">
						<div class="description-slgn">Bet with Ethereum on this <span style="font-family: Dusha;">2018 FIFA WORLD CUP RUSSIA</span>!</div>
					
						<%if (breadcrumb === "") { %>
						<div class="ui container center aligned">
							<a class="ui button green big" href="/airdrop">
								Register for airdrop
							</a>
							<a class="ui button black big" href="/how-it-works">
								How it works
							</a>
						</div>
						<% } %>
					</div>

					<div class="ui divider"></div>
