<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>Prodeth.io - World Cup Ethereum Betting </title>
    	<link rel='stylesheet' href='/css/common.css' />
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
      <meta name="description" content="Welcome to Prodeth, the best place to bet Ethereum on your favourite teams in this FIFA World Cup Russia 2018"
	   	<style type="text/css">
	  		.ui.footer.segment {
	    		margin: 5em 0em 0em;
	   			padding: 5em 0em;
	  		}
  		</style>

	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a href="/" class="header item">
					Prodeth.io
				</a>
				<a href="/" class="item">Home</a>
				<a href="/how-it-works" class="item">How it works</a>
				<a href="/faq" class="item">FAQ</a>
				<div href="#" class="item floated right" id="balance" style="white-space: pre;"></div>
			</div>
		</div>

		<div class="ui main container">
			<div class="ui container center aligned page-title">
				<h1 style="font-size:50px">Prodeth.io</h1>
				<h1 style="font-size: 35px;">Bet with Ethereum on this <span style="font-family: Dusha;">2018 FIFA WORLD CUP RUSSIA</span>!</h1>
			</div>

			<div class="ui divider"></div>
