<div class="ui container center aligned page-title">
    <%if (breadcrumb !== "") { %>
    <div style="text-align:left;">
        <div class="ui breadcrumb" style="padding: 15px 0px;">
            <a class="section" href="/">Home</a>
            <i class="right chevron icon divider"></i>
            <div class="active section"><%= breadcrumb %></div>
        </div>
    </div>
    <% } %>
    <img class="header-logo" src="/images/logos/logo-hq.png">
    <div class="description-slgn">Bet with Ethereum on this <span style="font-family: Dusha;">2018 FIFA WORLD CUP RUSSIA</span>!</div>

    <%if (breadcrumb === "") { %>
    <div class="ui container center aligned">
        <a class="ui button green big" href="/airdrop">
            Register for airdrop
        </a>
        <a class="ui button black big" href="/how-it-works">
            How it works
        </a>
    </div>
    <% } %>
</div>

<div class="ui divider"></div>