<%- include includes/header.ejs %>
	<div class="ui grid stackable mobile reversed">
		<div class="six wide column">
			<div class="ui segment">
				<h1>Token Announced</h1>
				<p>On November we will be moving to our new <b>ERC20 token</b> to make the entire Prodeth ecosystem much more reliable and secure.</p>
				<p>Prodeth will be supporting a larger sport selection such as <b>Tennis</b>, <b>Basketball</b>, <b>American Football</b> and much more.</p>
				<p>There will be an airdrop sometime on <b>September</b> of <b>500 Prodeth Coins (PDC)</b> only for the registered addresses with a <b>maximum of 1,000,000 PDC</b>.</p>
				<p>Until then, Prodeth will keep working with the actual system.</p>
				<div class="ui divider"></div>
				<h1>ICO Details</h1>
				<p>On October we will be launching our <b>ICO</b> of <b>50,000,000 PDC</b>.</p>
				<h2>Pre-sale</h2>
				<p>You will get <b>1500 tokens per ETH</b> on the ICO's first week.</p>
				<p><b>1250 tokens per ETH</b> on the ICO's second week.</p>
				<p><b>1000 tokens per ETH</b> on the ICO's third week.</p>
				<p><b>750 tokens per ETH</b> on the ICO's fourth week.</p>
				<h2>Public Sale</h2>
				<p>Any unsold token after the pre-sale will be sold on the public sale at <b>$1.00 USD</b>.</p>
				<h2>Reserved tokens</h2>
				<p><b>2,500,000 PDC</b> of all the tokens will be distributed to the developers and <b>7,500,000 PDC</b> will be distributed for marketing campaigns.</p>
			</div>
		</div>
		<div class="ten wide column">
			<div class="ui segment">
				<h1>Register for airdrop</h1>
				<p>To register for the airdrop just provide your Ethereum Address and your email. You will have to confirm your email by clicking on the verification link we will send you.</p>
				<p>We will be seriously checkin every single airdrop subscription to prevent botting the airdrop.</p>
				<div class="ui fluid form">
					<div class="field">
						<label>Ethereum Address:</label>
						<input type="text" placeholder="Your Ethereum Address" size="42" id="address">
					</div>
					<div class="field">
						<label>Email</label>
						<input type="text" placeholder="Your Email" id="email">
					</div>
					<div class="ui button green big" id="submit" onclick="submitForm();">
						Register
					</div>
					<div class="ui error message"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui tiny modal" id="status-modal">
		<div class="header"></div>
		<div class="content"></div>
		<div class="actions">
			<div class="ui button" id="close">
				Done
			</div>
		</div>
	</div>

<script>
$(document).ready(()=>{
	$(document).find("input").keydown((e) => {
		if(e.which == 13) {
			submitForm();
		}
	});

	$('.ui.form').form({
		fields: {
			address: {
				identifier: 'address',
				rules: [
					{
						type: 'empty',
						prompt: 'Please enter your Ethereum Address.'
					},
					{
						type: 'regExp',
						value: '^0x[a-fA-F0-9]{40}$',
						prompt: 'Invalid Ethereum Address.',
					}
				]
			},
			email: {
				identifier: 'email',
				rules: [
					{
						type   : 'empty',
						prompt : 'Please enter your email.'
					},
					{
						type   : 'email',
						prompt : 'Invalid email.'
					}
				]
			},
		}
	});
})

const submitForm = () => {
	if($('.ui.form').form('validate form')) {
		$("#submit").addClass("loading");
		$.ajax({
			url: "airdrop/register",
			type: "post",
			data: {
				address: $("#address").val(),
				email: $("#email").val()
			},
			success: result => {
				if(result=="OK"){
					$("#status-modal .header").text("Almost done")
					$("#status-modal").modal("show").find(".content").html(`
						<div class="ui container center aligned">
							<i class="check icon" style="color:#21ba45; font-size:40px;"></i>
							<h1>Please confirm your email</h1>
							<p>We've sent you a mail.</p>
							<p>Please, click on the link on the mail to confirm your email and finish the airdrop registration.</p>
						</div>
					`);
					$("#close").removeClass("negative").addClass("positive").text("Done");
				} else {
					$("#status-modal .header").text("Error")
					$("#status-modal").modal("show").find(".content").html(`
						<div class="ui container center aligned">
							<i class="times icon" style="color:#db2828; font-size:40px;"></i>
							<h1>Oops! Something went wrong</h1>
							<p>${result}.</p>
						</div>
					`);
					$("#close").removeClass("positive").addClass("negative").text("Close");
				}
			},
			error: () => {
				$("#status-modal .header").text("Error")
				$("#status-modal").modal("show").find(".content").html(`
					<div class="ui container center aligned">
						<i class="times icon" style="color:#db2828; font-size:40px;"></i>
						<h1>Oops! Something went wrong</h1>
						<p>An error ocurred with your request.</p>
						<p>Please try again later.</p>
					</div>
				`);
				$("#close").removeClass("positive").addClass("negative").text("Close");
			},
			complete:() => {
				$("#submit").removeClass("loading")
			}
		})
	}
}
</script>

<%- include includes/footer.ejs %>