<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

<div class="ui container">
    <div class="ui segment basic green">
        <div class="ui image medium">
            <img src="https://www.prodeth.io/images/logos/logo-hq.png">
        </div>
        <h1>Airdrop Email Confirmation</h1>
        <p>You have registered for the <b>Prodeth PDC Airdrop</b>! Please note that this link will expire in 7 days if you don't confirm your email and you will have to do the process all over again in our website.</p>
        <p><b>Please click on the following button to confirm your email.</b></p>
        <a class="ui button green" href="http://localhost:3000/airdrop/register?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0aWNpcGFudCI6eyJlbWFpbCI6InBhYmxvQGxlYmFuLmNvbS5hciIsImFkZHJlc3MiOiIweDA4NzVhRTJiQkMxNUVCNjU5MjI0Qzc0MWIxNWM1NTIwOWJmRWQ4YjYifSwiY3JlYXRlZF9hdCI6MTUyODY2ODQ3MzU3OSwiaWF0IjoxNTI4NjY4NDczLCJleHAiOjE1MjkyNzMyNzN9.PW_m3OOyCtfnXQyaxo6R2RiuVRA1_wqXRxwie2WWHyY" target="_blank">Confirm your email</a>
        <p style="margin-top: 30px">If you can't click the button, click the direct link:</p>
        <a style="word-break: break-all;" href="http://localhost:3000/airdrop/register?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0aWNpcGFudCI6eyJlbWFpbCI6InBhYmxvQGxlYmFuLmNvbS5hciIsImFkZHJlc3MiOiIweDA4NzVhRTJiQkMxNUVCNjU5MjI0Qzc0MWIxNWM1NTIwOWJmRWQ4YjYifSwiY3JlYXRlZF9hdCI6MTUyODY2ODQ3MzU3OSwiaWF0IjoxNTI4NjY4NDczLCJleHAiOjE1MjkyNzMyNzN9.PW_m3OOyCtfnXQyaxo6R2RiuVRA1_wqXRxwie2WWHyY" target="_blank">http://localhost:3000/airdrop/register?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0aWNpcGFudCI6eyJlbWFpbCI6InBhYmxvQGxlYmFuLmNvbS5hciIsImFkZHJlc3MiOiIweDA4NzVhRTJiQkMxNUVCNjU5MjI0Qzc0MWIxNWM1NTIwOWJmRWQ4YjYifSwiY3JlYXRlZF9hdCI6MTUyODY2ODQ3MzU3OSwiaWF0IjoxNTI4NjY4NDczLCJleHAiOjE1MjkyNzMyNzN9.PW_m3OOyCtfnXQyaxo6R2RiuVRA1_wqXRxwie2WWHyY</a>
        <div class="ui divider"></div>
        <p>If you didn't subscribe for anything, please ignore this mail.</p>
        <p style="margin-top: 30px;"><b>Sincerely,
            <br>   the Prodeth Team.
        </b></p>
    </div>
    <div class="ui container center aligned">
        <p>© 2018 <a href="https://www.prodeth.io/">Proteth.io</a> All Rights Reserved</p>
        <p>This site is not affiliated with FIFA.</p>
    </div>
</div>