<%- include includes/head.ejs %>

<h2>
	<div class="ui container">
		Frequently Asked Questions:
	</div>
</h2>

<div class="ui accordion" style="font-size: 1.5rem;">
	<div class="title">
		<i class="dropdown icon"></i>
		How do I bet?
	</div>
	<div class="content">
		<h1>With MetaMask</h1>
		<p>
			To make a bet we recommend <a href="https://metamask.io/" target="_blank">MetaMask</a>, a digital wallet. You will need to put money in it to make your first purchase.
		</p>
		<p>
			Note: A digital wallet like MetaMask acts like a bank account—treat it with respect and make sure you don’t forget your password or the seed words.
		</p>
		<p><iframe width="560" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
		<p>
			Once you have created a wallet you can buy some <b>Ether (ETH)</b>:
		</p>
		<p>
			<b>If you are an U.S. citizen</b> you can buy it directly from MetaMask.
		</p>
		<p><b>If you are not</b>, there are tons of <a href="https://blockgeeks.com/guides/best-cryptocurrency-exchanges" target="_blank">exchanges</a> out there where you can buy ETH. Some examples are <a href="https://www.coinbase.com/" target="_blank">Coinbase</a> or <a href="https://www.gdax.com/" target="_blank">GDAX</a>. After buying them, just transfer them from the exchange to the MetaMask wallet.</p>
		<h1>Without MetaMask</h1>
		<p>
			There are multiple personal online wallets out there such as <a href="https://www.myetherwallet.com/" target="_blank">MyEtherWallet</a>.
		</p>
		<p>
			Just make your own wallet there and send funds from an exchange to it.
			After that, you can bet by transfering directly from your personal online wallet to the given Prodeth address. 
		</p>
		<div class="ui red inverted segment">
			<b>IMPORTANT:</b> Do NOT send funds directly from exchanges to Prodeth's addresses. We cannot pay back/refund to those wallets.
		</div>
	</div>
	<div class="title">
			<i class="dropdown icon"></i>
			If I don't have/want MetaMask, what can I do?
		</div>
		<div class="content">
			<p>
				There are multiple personal online wallets out there such as <a href="https://www.myetherwallet.com/" target="_blank">MyEtherWallet</a>.
			</p>
			<p>
				Just make your own wallet there and send funds from an exchange to that wallet.
				After that, you can do whatever you want with that wallet. 
			</p>
			<p>
				That wallet is not controlled by an exchange anymore.
			</p>
		</div>
	<div class="title">
		<i class="dropdown icon"></i>
		How is the payoff calculated?
	</div>
	<div class="content">
		<p>
			The payoff is calculated by comparing both teams's bets. The team with a bigger ETH pool means that it will pay less if it wins.
		</p>
		<p>
			<b>Example: Argentina vs. Brazil</b>
			<br>
			Argentina's ETH bet pool is 1 ETH and Brazil's ETH bet pool is 4 ETH. 
			<br>
			This means that there are more ETH on the Brazil pool (exactly <b>400%</b> more).
			<br>
			Thus, Argentina is going to pay <b>x4.00</b> times what you bet and Brazil <b>x1.25</b> times what you bet.
		</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		Is there any fee applied?
	</div>
	<div class="content">
		<p>A fee of <b>1%</b> is subtracted from the winning ETH pool.</p>
		<p>In case of a refund caused by a tie, the fee will also be applied.</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		When do I get paid if I win?
	</div>
	<div class="content">
		<p>You will get paid automatically after the match you betted on ends.</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		What if no one bets on the other team?
	</div>
	<div class="content">
		<p>If one of both teams has 0 ETH pool after a bet closure, all ETH will be sent back to the same address the ETH were sent, no matter if the team wins or loses.</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		What if a match ties?
	</div>
	<div class="content">
		<p>During the <b>Group Phase</b>, matches can end in a tie. <b>This means that no one wins and your bet will be refunded.</b> The fee of 1% will still be applied.</p>
		<p>During the <b>Knockout Phase</b>, matches can also end in a tie but there's always a winner thanks to overtime or penalties.</p>
	</div>
</div>

<script>

$(document).ready(()=>{
	$('.ui.accordion').accordion();
})

</script>

<%- include includes/footer.ejs %>
