<%- include includes/head.ejs %>

<h2>
	<div class="ui container center aligned">
		FAQ
	</div>
</h2>

<div class="ui accordion">
	<div class="title">
		<i class="dropdown icon"></i>
		How do I bet?
	</div>
	<div class="content">
		<p class="transition active">
			To make a bet we recommend <a href="https://metamask.io/">MetaMask</a>, but you can bet just by sending ETH to a generated match team address we create.
		</p>
		<div class="ui red inverted segment">
			<b>IMPORTANT:</b> Funds sent from exchange's wallets cannot be paid back due to exchange's wallet systems.
		</div>
	</div>
		<div class="title">
		<i class="dropdown icon"></i>
		How is the payoff calculated?
	</div>
	<div class="content">
		<p class="transition active">
			The payoff is calculated by comparing both teams bets. The team with a bigger ETH pool means that it will pay less.
		</p>
		<p>
			<b>Example: Argentina vs. Brazil</b>
			<br>
			Argentina's ETH bet pool is 1 ETH and Brazil ETH bet pool is 3 ETH. 
			<br>
			This means that there are more ETH on the Brazil pool (a <b>200%</b> more exactly).
			<br>
			Thus, Argentina is willing to pay <b>x3.00</b> and Brazil is willing to pay <b>x1.25</b>.
		</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		Is there any fee applied?
	</div>
	<div class="content">
		A fee of 1% is substracted from the winning ETH pool.
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		When do I get paid if I win?
	</div>
	<div class="content">
		You will get paid automatically after the match you betted ends.
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		What if no one bets on the other team?
	</div>
	<div class="content">
		If one of both teams has 0 ETH pool after a bet closure, all ETH will be sent back, no matter if the team wins or loses.
	</div>
</div>

<script>

$(document).ready(()=>{
	$('.ui.accordion').accordion();
})

</script>

<%- include includes/footer.ejs %>