<%- include includes/head.ejs %>

<h2>
	<div class="ui container">
		Frequently Asked Questions:
	</div>
</h2>

<div class="ui accordion" style="font-size: 20px;">
	<div class="title">
		<i class="dropdown icon"></i>
		How do I bet?
	</div>
	<div class="content">
		<p class="transition">
			To make a bet we recommend <a href="https://metamask.io/" target="_blank">MetaMask</a>, but you can bet just by sending ETH to a generated match team address we create.<br><br>
			Once you have created a wallet, buy some Ethereum (ETH) from any exchange such as <a href="https://www.coinbase.com/" target="_blank">Coinbase</a> or <a href="https://www.gdax.com/" target="_blank">GDAX</a> and transfer them to your MetaMask wallet.
		</p>
		<div class="ui red inverted segment">
			<b>IMPORTANT:</b> Do NOT send funds directly from exchanges to Prodeth's addresses. We cannot pay back/refund to those wallets.
		</div>
	</div>
	<div class="title">
			<i class="dropdown icon"></i>
			If I don't have/want MetaMask, what can I do?
		</div>
		<div class="content">
			<p class="transition">
				There are multiple personal online wallets out there such as <a href="https://www.myetherwallet.com/" target="_blank">MyEtherWallet</a>.
			</p>
			<p>
				Just make your own wallet there and send funds from an exchange to that wallet.
				After that, you can do whatever you want with that wallet. 
			</p>
			<p>
				<b>That wallet is not controlled by an exchange anymore.</b>
			</p>
		</div>
	<div class="title">
		<i class="dropdown icon"></i>
		How is the payoff calculated?
	</div>
	<div class="content">
		<p class="transition">
			The payoff is calculated by comparing both teams bets. The team with a bigger ETH pool means that it will pay less.
		</p>
		<p>
			<b>Example: Argentina vs. Brazil</b>
			<br>
			Argentina's ETH bet pool is 1 ETH and Brazil ETH bet pool is 4 ETH. 
			<br>
			This means that there are more ETH on the Brazil pool (a <b>400%</b> more exactly).
			<br>
			Thus, Argentina is willing to pay <b>x4.00</b> and Brazil is willing to pay <b>x1.25</b>.
		</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		Is there any fee applied?
	</div>
	<div class="content">
		<p>A fee of <b>1%</b> is substracted from the winning ETH pool.</p>
		<p>In case of a refund caused by a tie, the fee will also be applied.</p>
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		When do I get paid if I win?
	</div>
	<div class="content">
		You will get paid automatically after the match you betted ends.
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		What if no one bets on the other team?
	</div>
	<div class="content">
		If one of both teams has 0 ETH pool after a bet closure, all ETH will be sent back, no matter if the team wins or loses.
	</div>
	<div class="title">
		<i class="dropdown icon"></i>
		What if a match ties?
	</div>
	<div class="content">
		<p>During the <b>Group Phase</b>, matches can be tied. <b>This means that no one wins and your bet will be refunded.</b> The fee of 1% will be applied.</p>
		<p>During the <b>Knockout Phase</b>, matches can also be tied but there's always a winner thanks to the extra time or penalties.</p>
	</div>
</div>

<script>

$(document).ready(()=>{
	$('.ui.accordion').accordion();
})

</script>

<%- include includes/footer.ejs %>