<%- include includes/head.ejs %>
	<h5>
		<div class="ui container center aligned">
			Are you wondering <a href="how-it-works">how it works</a>?
		</div>
	</h5>
	<div class="ui stackable grid">
		<div class="three column row">
			<div class="eight wide column">
				<div class="ui top attached header inverted">
					<h3>Ongoing bets</h3>
				</div>
				<div class="ui segment attached">
					<div class="ui vertically divided grid ongoing-bets">
						<div class="row">
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Argentina">
									<img src="/images/flags/argentina.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x1.42 ETH</a>
							</div>
							<div class="two wide column versus vertical-center">
								VS
							</div>
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Brazil">
									<img src="/images/flags/brazil.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x2.58 ETH</a>
							</div>
							<div class="six wide column center aligned vertical-center">
								<div class="ui primary button">
									Bet now
									<i class="right chevron icon"></i>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Russia">
									<img src="/images/flags/russia.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x1.11 ETH</a>
							</div>
							<div class="two wide column versus vertical-center">
								VS
							</div>
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Nigeria">
									<img src="/images/flags/nigeria.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x13.21 ETH</a>
							</div>
							<div class="six wide column center aligned vertical-center">
								<div class="ui primary button">
									Bet now
									<i class="right chevron icon"></i>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Germany">
									<img src="/images/flags/germany.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x1.42 ETH</a>
							</div>
							<div class="two wide column versus vertical-center">
								VS
							</div>
							<div class="four wide column center aligned">
								<div class="ui tiny image" data-tooltip="Colombia">
									<img src="/images/flags/colombia.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x2.58 ETH</a>
							</div>
							<div class="six wide column center aligned vertical-center">
								<div class="ui primary button">
									Bet now
									<i class="right chevron icon"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column">
				<div class="ui top attached header inverted">
					<h3>Closed bets</h3>
				</div>
				<div class="ui segment attached">
					<div class="ui vertically divided grid closed-bets">
						<div class="row">
							<div class="seven wide column center aligned">
								<div class="ui tiny image" data-tooltip="Argentina">
									<img src="/images/flags/argentina.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x1.42 ETH</a>
							</div>
							<div class="two wide column versus vertical-center">
								VS
							</div>
							<div class="seven wide column center aligned">
								<div class="ui tiny image" data-tooltip="Brazil">
									<img src="/images/flags/brazil.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x2.58 ETH</a>
							</div>
							<div class="sixteen wide column center aligned">
								<div class="ui orange button">
									<i class="left info circle icon"></i>
									Bet status
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column">
				<div class="ui top attached header inverted">
					<h3>Finished bets</h3>
				</div>
				<div class="ui segment attached">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui modal">
	<div class="header">Header</div>
		<div class="content">
		<p></p>
		<p></p>
		<p></p>
	</div>
</div>

<%- include includes/footer.ejs %>