<%- include includes/head.ejs %>
	<div class="ui stackable grid">
		<div class="three column row">
			<div class="nine wide column">
				<div class="ui top attached header inverted prodeth-header">
					<h3>Open bets - Upcoming matches</h3>
				</div>
				<div class="ui segment attached">
					<div class="ui vertically divided grid open-bets">
						<div class="row loading">
							<div class="sixteen wide column center aligned">
								<div class="ui active centered inline loader"></div>
								<p>Loading...</p>
							</div>
						</div>
						<div class="row no-results">
							<div class="sixteen wide column center aligned">
								<p>There are no open bets at the moment.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="seven wide column">
				<div class="row">
					<div class="ui top attached header inverted prodeth-header">
						<h3>Closed bets - Ongoing matches</h3>
					</div>
					<div class="ui segment attached">
						<div class="ui vertically divided grid closed-bets">
							<div class="row loading">
								<div class="sixteen wide column center aligned">
									<div class="ui active centered inline loader"></div>
									<p>Loading...</p>
								</div>
							</div>
							<div class="row no-results">
								<div class="sixteen wide column center aligned">
									<p>There are no closed bets at the moment.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui divider"></div>
				<div class="row">
					<div class="four wide column">
						<div class="ui top attached header inverted prodeth-header">
							<h3>Finished bets - Finished matches</h3>
						</div>
						<div class="ui segment attached">
							<div class="ui vertically divided grid finished-bets">
								<div class="row loading">
									<div class="sixteen wide column center aligned">
										<div class="ui active centered inline loader"></div>
										<p>Loading...</p>
									</div>
								</div>
								<div class="row no-results">
									<div class="sixteen wide column center aligned">
										<p>There are no finished bets at the moment.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui modal" id="match-details">
	<div class="header">Match details</div>
	<div class="content scrolling"></div>
</div>

<div class="ui tiny modal" id="bet" style="text-align:center;">
	<div class="header">Bet</div>
	<div class="content"></div>
	<div class="actions">
		<div class="ui negative button" id="close">
			Cancel
		</div>
		<div class="ui positive right labeled icon button" id="confirm-bet">
			Confirm bet
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

<div class="ui tiny modal" id="success">
	<div class="header">Success!</div>
	<div class="content"></div>
	<div class="actions">
		<div class="ui positive button" id="close">
			Close
		</div>
	</div>
</div>
	
<%- include includes/footer.ejs %>

<script src="/js/socket.js"></script>