<%- include includes/head.ejs %>
	<h5>
		<div class="ui container center aligned">
			Are you wondering <a href="how-it-works">how it works</a>?
		</div>
	</h5>
	<div class="ui stackable grid">
		<div class="three column row">
			<div class="eight wide column">
				<div class="ui top attached header inverted">
					<h3>Open bets</h3>
				</div>
				<div class="ui segment attached">
					<div class="ui vertically divided grid open-bets">
						<div class="row loading">
							<div class="sixteen wide column center aligned">
									<div class="ui active centered inline loader"></div>
									<p>Loading...</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column">
				<div class="ui top attached header inverted">
					<h3>Closed bets</h3>
				</div>
				<div class="ui segment attached">
					<div class="ui vertically divided grid closed-bets">
						<div class="row">
							<div class="seven wide column center aligned">
								<div class="ui tiny image" data-tooltip="Argentina">
									<img src="/images/flags/argentina.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x1.42 ETH</a>
							</div>
							<div class="two wide column versus vertical-center">
								VS
							</div>
							<div class="seven wide column center aligned">
								<div class="ui tiny image" data-tooltip="Brazil">
									<img src="/images/flags/brazil.png">
								</div>
								<a class="ui green label payoff" data-inverted="" data-tooltip="This is the current payoff for betting this team." data-position="bottom center">x2.58 ETH</a>
							</div>
							<div class="sixteen wide column center aligned">
								<div class="ui orange button">
									<i class="left info circle icon"></i>
									Bet status
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="four wide column">
				<div class="ui top attached header inverted">
					<h3>Finished bets</h3>
				</div>
				<div class="ui segment attached">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui modal" id="match-details">
	<div class="header">Match details</div>
	<div class="content"></div>
</div>

<div class="ui tiny modal" id="bet" style="text-align:center;">
	<div class="header">Bet</div>
	<div class="content"></div>
	<div class="actions">
		<div class="ui negative button">
			Cancel
		</div>
		<div class="ui positive right labeled icon button" id="confirm-bet">
			Confirm bet
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>

<div class="ui mini modal" id="error">
	<div class="header">Oops!</div>
	<div class="content"></div>
</div>
	
<%- include includes/footer.ejs %>