<%- include includes/head.ejs %>

<h1>
	<div class="ui container center aligned">
		How it works?
	</div>
</h1>

<div class="ui steps left aligned">
	<div class="step">
		<i class="flag icon"></i>
		<div class="content">
			<div class="title">Select Team</div>
			<div class="description">Select the Team you think is going to win</div>
		</div>
	</div>
	<div class="step">
		<i class="exchange icon"></i>
		<div class="content">
			<div class="title">Pay</div>
			<div class="description">Send ETH to the given address</div>
		</div>
	</div>
	<div class="step">
		<i class="clock icon"></i>
		<div class="content">
			<div class="title">Done</div>
			<div class="description">Wait for the results</div>
		</div>
	</div>
</div>
<p>ASDA SDAS DASD ASD ASD AS  SADAD ASDDASADASD ASD  ASD ASD</p>

<%- include includes/footer.ejs %>