@font-face {
    font-family: Dusha;
    src: url("../fonts/Dusha.ttf");
}

.country-code{
	font-family: Dusha;
	font-size: 28px;
	padding: 10px;
}

.timeleft{
	margin-bottom:10px !important;
}

.page-title{
	margin: 6em 0 3em 0;
}

.versus{
	text-align: center;
	font-weight: bold;
	padding:25px;
}

.open-bets .versus{
	font-size: 25px;	
}

.closed-bets .versus{
	font-size: 16px;	
}

.closed-bets .tiny.image{
	width: 50% !important;
}

.vertical-center{
	align-self: center !important;
}

.payoff{
	margin-top: 10px !important;
}

.step, .step .description, .step:after{
	background-color: #21ba45 !important;
	color: white !important;
}