@font-face {
    font-family: Dusha;
    src: url("../fonts/Dusha.ttf");
}

.ui.footer.segment {
    padding: 5em 0em;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main-content {
    flex: 1;
    margin-bottom:100px;
}

.country-code{
	font-family: Dusha;
	font-size: 28px;
	padding: 10px;
}

.timeleft{
	margin-bottom:10px !important;
}

.page-title{
	margin: 6em 0 3em 0;
}

.versus{
	text-align: center;
	font-weight: bold;
	padding:25px;
}

.versus{
    font-size: 40px;
}

.prodeth-header{
    background: #1b1c1d !important;
}

.closed-bets .tiny.image{
	width: 50% !important;
}

.vertical-center{
	align-self: center !important;
}

.payoff{
	margin-top: 10px !important;
}

.address-transaction{
	font-size:12px;
}

.live{
	transform: translateY(1px);
	margin: 0px 3px 0px 10px !important;
	-moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 2.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 2.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 2.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 2.5s infinite ease-in-out;
    /* Opera */
}

.header-logo{
    width: 50%;
    min-width: 370px;
}

@keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}
@-webkit-keyframes blink {
    0% {
           background-color: rgba(255,0,0,1)
    }
    50% {
           background-color: rgba(255,0,0,0)
    }
    100% {
           background-color: rgba(255,0,0,1)
    }
}


.small-match .country-code{
    font-size:15px !important;
}

.small-match .ui.label.payoff{
    font-size:10px !important;
}

.small-match .ui.tiny.image{
    width:30px;
}

.small-match .country-code{
    display:inline-block;
}

.small-match .versus{
    font-size:20px;
}

.loading > div{
    margin-bottom: 0px !important;
}

.no-results > div{
    margin-bottom: 0px !important;
}